<% provide(:title, "目撃情報の詳細") %>
<div class="sighting-map-index">
  <h2>ー 目撃情報マップ ー</h2>
  <div id='map'></div>
</div>

<div class="sighting-show">
  <div class="modal-header">
    <h2>目撃情報の詳細</h2>
  </div>
  <div class="modal-body">
    <div class="modal-image">
      <% if @sighting.image.attached? %>
        <%= image_tag @sighting.image, :size => '200x200' %>
      <% else %>
        <%= image_tag("default_user.png", :size => "200x200") %>
      <% end %>
    </div>
    <h3>日時：</h3>
    <p><%= l @sighting.date %></p>
    <p><%= @sighting.time %></p>
    <h3>場所：</h3>
    <p><%= @sighting.area %></p>
    <h3>状況：</h3>
    <p><%= @sighting.situation %></p>
    <p>
      <% if @sighting.user_id == current_user.id %>
        <%= button_to @sighting_path, method: :delete, data: { turbo: false } do %>
          <i class="fa-solid fa-trash">投稿を削除</i>
        <% end %>
      <% else %>
        <%= link_to "#{@sighting.user.username}", user_path(@sighting) %>様</br>
        <% if @is_room == true %>
          <%= link_to room_path(@room_id), class:'' do %>
            <i class="fa-solid fa-envelope-open"></i>連絡をする
          <% end %>
        <% else %>
          <%= form_for @room, data: { turbo: false } do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @sighting_user.user.id %>
            <% end %>
            <button type="submit" class=""><i class="fa-regular fa-envelope"></i>連絡をする</button>
          <% end %>
        <% end %>
      <% end %>
    </p>
  </div>
</div>

<!-- js部分 -->
<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: <%= @sighting.lat %>, lng: <%= @sighting.lng %>},
    zoom: 15,
  });

    marker = new google.maps.Marker({
    position:  {lat: <%= @sighting.lat %>, lng: <%= @sighting.lng %>},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['MAP_API']%>&callback=initMap" async defer></script>
