<% provide(:title, "新規投稿 迷子犬") %>
<%= form_with model: @amble, local:true, data: { turbo: false } do |f| %>
  <% if @amble.errors.any? %>
  <% end %>
  <div class="form_area" id="form_amble">
    <section class="property col">
      <div class="board-form">
        <h2 class="board-title">ー 迷子時の情報 ー</h2>
        <div class="field-area">
          <div class="board-item">
            <p class="board-item-Label">日付け<span class="asterisk">*</span></p>
            <%= f.date_field :date, class: "board-item-input", value: @amble.date %>
            <% if @amble.errors.include?(:date) %>
              <p class="error-message"><%= @amble.errors.full_messages_for(:date).first %>
            <% end %>
          </div>

          <div class="board-item">
            <p class="board-item-Label">時間</p>
            <%= f.text_field :time, class: "board-item-input",  placeholder: "00:00、何時ごろなど", value: @amble.time %>
          </div>

          <div class="board-item">
            <p class="board-item-Label">場所<span class="asterisk">*</span></p>
            <%= f.select :prefecture, Adress.adress_areas.keys, value: @amble.prefecture %>
            <% if @amble.errors.include?(:prefecture) %>
              <p class="error-message"><%= @amble.errors.full_messages_for(:prefecture).first %>
            <% end %>
          </div>

          <div class="board-item">
            <p class="board-item-Label">市町村</p>
            <%= f.text_field :municipalities, class: "board-item-input", placeholder: "地番は入力しないでください。", value: @amble.municipalities %>
          </div>

          <div class="board-item">
            <p class="board-item-Label">迷子になった付近</p>
            <%= f.text_field :area, class: "board-item-input", placeholder: "〇〇公園、〇〇駅", value: @amble.area %>
          </div>

          <div class="board-item">
            <p class="board-item-Label">迷子になった状況</p>
            <%= f.text_area :situation, class: "board-item-textarea", placeholder: "５０文字以内で記入してください", value: @amble.situation %>
          </div>

          <div class="board-item">
            <p class="board-item-Label">届出済みの機関</p>
            <%= f.text_field :notification, class: "board-item-input", placeholder: "保健所・警察署・愛護センターなど", value: @amble.notification %>
          </div>

          <div class="board-item">
            <p class="board-item-Label">鑑札札(首輪など)</p>
            <%= f.select :tag, [['なし',0],['付いてる可能性あり',1]], { include_blank: true, selected: 0 }, class: "board-item-input" %>
          </div>

          <div class="board-item">
            <p class="board-item-Label">マイクロチップ</p>
            <%= f.select :chip, [['なし',0],['付いてる可能性あり',1]], { include_blank: true, selected: 0 }, class: "board-item-input" %>
          </div>
        </div>
      </div>
			<button type="button" class="btndesign" id="form_next">次へ</button>
    </section>

		<section class="personal col hidden">
      <div class="board-form">
        <h2 class="board-title">ー 犬の情報 ー</h2>
        <div class="field-area">

          <div class="board-item">
            <p class="board-item-Label">犬の写真</p>
            <%= f.file_field :image %>
          </div>

          <div class="board-item">
            <p class="board-item-Label">犬の名前<span class="asterisk">*</span></p>
            <%= f.text_field :name, class: "board-item-input", value: @amble.name %>
            <% if @amble.errors.include?(:name) %>
              <p class="error-message"><%= @amble.errors.full_messages_for(:name).first %>
            <% end %>
          </div>

          <div class="board-item">
            <p class="board-item-Label">犬種</p>
            <%= f.text_field :breed, class: "board-item-input", value: @amble.breed %>
          </div>

          <div class="board-item">
            <p class="board-item-Label">性別<span class="asterisk">*</span></p>
            <%= f.radio_button :gender, :male %>
            <%= f.label :sex_male, "オス" %>

            <%= f.radio_button :gender, :famale %>
            <%= f.label :sex_famale, "メス" %>

            <%= f.radio_button :gender, :unknown %>
            <%= f.label :sex_unknown, "不明" %>
            <% if @amble.errors.include?(:gender) %>
              <p class="error-message"><%= @amble.errors.full_messages_for(:gender).first %>
            <% end %>
          </div>

          <div class="board-item">
            <p class="board-item-Label">大きさ<span class="asterisk">*</span></p>
            <%= f.radio_button :size, :large %>
            <%= f.label :sex_large, "大型犬" %>

            <%= f.radio_button :size, :medium %>
            <%= f.label :sex_medium, "中型犬" %>

            <%= f.radio_button :size, :small %>
            <%= f.label :sex_small, "小型犬" %>
            <% if @amble.errors.include?(:size) %>
              <p class="error-message"><%= @amble.errors.full_messages_for(:size).first %>
            <% end %>
          </div>

          <div class="board-item">
            <p class="board-item-Label">毛色</p>
            <%= f.text_field :color, class: "board-item-input", value: @amble.color %>
          </div>

          <div class="board-item">
            <p class="board-item-Label">年齢</p>
            <%= f.text_field :age, class: "board-item-input", placeholder: "〇〇才または小犬/成犬など", value: @amble.age %>
          </div>

          <div class="board-item">
            <p class="board-item-Label">犬の特徴</p>
            <%= f.text_area :features, class: "board-item-textarea", placeholder: "５０文字以内で記入してください", value: @amble.features %>
          </div>

        <div class="board-actions">
          <%= f.submit "登録する" %>
          <%= link_to "記入をキャンセルする", root_path, class:'link-button' %>
        </div>
      </div>
			<p class="back" id="back"><i class="fa-solid fa-reply"></i>戻る</p>
		</section>
  </div>
<% end %>

  <% content_for :js do %>
    <%= javascript_import_module_tag "ambles/step-form" %>
  <% end %>
