<div class="board-form">
  <h2 class="board-title">ー 迷子時の情報 ー</h2>


  <%= form_with model: @amble, local:true, data: { turbo: false } do |f| %>
    <div class="field-area">
      <div class="board-item">
        <p class="board-item-Label"><i class="fa-solid fa-calendar-days">迷子になった日付け</i></p>
        <%= f.date_field :date, class: "board-item-input", value: @amble.date %>
      </div>

      <div class="board-item">
        <p class="board-item-Label"><i class="fa-solid fa-calendar-days">迷子になった時間</i></p>
        <%= f.text_field :time, class: "board-item-input",  placeholder: "00:00、何時ごろなど", value: @amble.time %>
      </div>

      <div class="board-item">
        <p class="board-item-Label"><i class="fa-solid fa-location-dot">迷子になった場所</i></p>
        <%= f.select :prefecture, Adress.adress_areas.keys, value: @amble.prefecture %>
      </div>

      <div class="board-item">
        <p class="board-item-Label"><i class="fa-solid fa-location-dot">市町村</i></p>
        <%= f.text_field :municipalities, class: "board-item-input", placeholder: "地番は入力しないでください。", value: @amble.municipalities %>
      </div>

      <div class="board-item">
        <p class="board-item-Label"><i class="fa-solid fa-street-view">迷子になった付近</i></p>
        <%= f.text_field :area, class: "board-item-input", placeholder: "〇〇公園、〇〇駅", value: @amble.area %>
      </div>

      <div class="board-item">
        <p class="board-item-Label"><i class="fa-solid fa-tree">迷子になった状況</i></p>
        <%= f.text_area :situation, class: "board-item-textarea", value: @amble.situation %>
      </div>

      <div class="board-item">
        <p class="board-item-Label"><i class="fa-solid fa-flag">届出済みの機関</i></p>
        <%= f.text_field :notification, class: "board-item-input", placeholder: "保健所・警察署・愛護センターなど", value: @amble.notification %>
      </div>

      <h2 class="board-title">ー 犬の情報 ー<i class="fa-solid fa-dog"></i></h2>

      <div class="board-item">
        <p class="board-item-Label"><i class="fa-solid fa-diamond"></i>犬の写真</i></p>
        <i class="fa-solid fa-camera"></i>
        <%= f.file_field :image %>
      </div>

      <div class="board-item">
        <p class="board-item-Label"><i class="fa-solid fa-diamond"></i>犬の名前</i></p>
        <%= f.text_field :name, class: "board-item-input", value: @amble.name %>
      </div>

      <div class="board-item">
        <p class="board-item-Label"><i class="fa-solid fa-diamond">犬種</i></p>
        <%= f.text_field :breed, class: "board-item-input", value: @amble.breed %>
      </div>

      <div class="board-item">
        <p class="board-item-Label"><i class="fa-solid fa-diamond">性別</i></p>
        <%= f.radio_button :gender, :male %>
        <%= f.label :sex_male, "オス" %>

        <%= f.radio_button :gender, :famale %>
        <%= f.label :sex_famale, "メス" %>

        <%= f.radio_button :gender, :unknown %>
        <%= f.label :sex_unknown, "不明" %>
      </div>

      <div class="board-item">
        <p class="board-item-Label"><i class="fa-solid fa-diamond">大きさ</i></p>
        <%= f.radio_button :size, :large %>
        <%= f.label :sex_large, "大型犬" %>

        <%= f.radio_button :size, :medium %>
        <%= f.label :sex_medium, "中型犬" %>

        <%= f.radio_button :size, :small %>
        <%= f.label :sex_small, "小型犬" %>
      </div>

      <div class="board-item">
        <p class="board-item-Label"><i class="fa-solid fa-diamond">毛色</i></p>
        <%= f.text_field :color, class: "board-item-input", value: @amble.color %>
      </div>

      <div class="board-item">
        <p class="board-item-Label"><i class="fa-solid fa-diamond">年齢</i></p>
        <%= f.text_field :age, class: "board-item-input", placeholder: "〇〇才または小犬/成犬など", value: @amble.age %>
      </div>

      <div class="board-item">
        <p class="board-item-Label"><i class="fa-solid fa-diamond">犬の特徴</i></p>
        <%= f.text_area :features, class: "board-item-textarea", placeholder: "首輪の色や性格など", value: @amble.features %>
      </div>

      <div class="board-item">
        <p class="board-item-Label"><i class="fa-solid fa-diamond">鑑札札(首輪など)</i></p>
        <%= f.select :tag, [['なし',0],['付いてる可能性あり',1]], { include_blank: true, selected: 0 } %>
      </div>

      <div class="board-item">
        <p class="board-item-Label"><i class="fa-solid fa-diamond">マイクロチップ</i></p>
        <%= f.select :chip, [['なし',0],['付いてる可能性あり',1]], { include_blank: true, selected: 0 } %>
      </div>

      <div class="board-actions">
        <%= f.submit "登録する" %>
        <%= link_to "記入をキャンセルする", root_path, class:'link-button' %>
      </div>
    </div>
  <% end %>
</div>
