<% provide(:title, "#{@amble.name} の詳細") %>
<% @amble.each do |a| %>
  <div class="board-box">
    <%= image_tag '迷子犬.png', class: 'board-image' %>
    <div class="board-image-tag">
      <% if a.image.attached? %>
        <%= image_tag a.image, :size => '150x100' %>
      <% else %>
        <%= image_tag("default_dog.png", :size => "150x100") %>
      <% end %>
    </div>

    <div class="board-name">
      <%= a.name %>

      <% if a.gender == "male" %>
        <i class="fa-solid fa-mars"></i>
      <% elsif a.gender == "famale" %>
        <i class="fa-solid fa-venus"></i>
      <% else %>
        <i class="fa-solid fa-genderless"></i>
      <% end %>
    </div>

    <div class="board-user">
      <% if a.user_id == current_user.id %>
        <i class="fa-solid fa-pen"><%= link_to "編集する", edit_amble_path(a) %></i>
        <%= button_to amble_path(a), method: :delete, class: "board-btn" do %>
          <i class="fa-solid fa-trash">投稿を削除</i>
        <% end %>
      <% else %>
        <%= a.user.username %>様</br>
        <%= link_to user_path(a.user_id), class: "board-btn" do %>
          <i class="fa-solid fa-envelope"></i>連絡をする
        <% end %>
      <% end %>
    </div>

    <ul class="board-situation">
      <li><%= l a.date %><%= a.time %></li>
      <li><%= a.prefecture %><%= a.municipalities %><%= a.area %></li>
      <li><%= a.notification %></li>
      <li><%= a.situation %></li>
    </ul>

    <ul class="board-features">
      <li><%= a.age %></li>
      <li>
        <% if a.tag == true %>
          確認済み
        <% else %>
          なし
        <% end %>
      </li>
      <li><%= a.breed %></li>
      <li>
        <% if a.chip == true %>
          確認済み
        <% else %>
          なし
        <% end %>
      </li>
      <li><%= a.color %></li>
      <li><%= a.features %></li>
      <li>
        <% if a.size == "large" %>
          大型犬
        <% elsif a.size == "medium" %>
          中型犬
        <% else %>
          小型犬
        <% end %>
      </li>
    </ul>
  </div>
<% end %>
