<% provide(:title, "ユーザー/パスワード編集") %>
<div class="account-form">
  <h2 class="devise-title">ー 編集する ー</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, local:true, data: { turbo: false }) do |f| %>
    <% if @user.errors.any? %>
    <% end %>

    <div class="field">
      <span class="Form-Item-Label-Required">必須</span><i class="fa-solid fa-key"></i>
      <%= f.password_field :password, id: "password", autocomplete: "new-password", class: "input-password", placeholder: "新しいパスワード" %>
      <i id="eye" class="fa-solid fa-eye-slash"></i>
      <% if @user.errors.include?(:password) %>
        <p class="error-message"><%= @user.errors.full_messages_for(:password).first %>
      <% end %>
    </div>

    <div class="field">
      <span class="Form-Item-Label-Required">必須</span><i class="fa-solid fa-lock"></i>
      <%= f.password_field :password_confirmation, id: "password-confirmation", autocomplete: "new-password", class: "input-password", placeholder: "確認用パスワード" %>
      <i id="eye-confirmation" class="fa-solid fa-eye-slash"></i>
      <% if @user.errors.include?(:password_confirmation) %>
        <p class="error-message"><%= @user.errors.full_messages_for(:password_confirmation).first %>
      <% end %>
    </div>

    <div class="field">
      <span class="Form-Item-Label-Required">必須</span><i class="fa-solid fa-lock"></i>
      <%= f.password_field :current_password, id: "password-current", autocomplete: "current_password", class: "input-password", placeholder: "現在のパスワード" %>
      <i id="eye-current" class="fa-solid fa-eye-slash"></i>
      <% if @user.errors.include?(:current_password) %>
        <p class="error-message"><%= @user.errors.full_messages_for(:current_password).first %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "更新する" %>
      <%= link_to "キャンセル", user_path(@user), class:'link-button' %>
    </div>
  <% end %>

  <%= button_to registration_path(resource_name), class: "trash-field", data: { turbo_confirm: "本当に削除しますか？" }, method: :delete do %>
    <i class="fa-solid fa-trash"></i>アカウントを削除
  <% end %>
</div>

<% content_for :js do %>
  <%= javascript_import_module_tag "passwords/edit" %>
<% end %>
