<div class="account-form">
  <h2 class="devise-title">ー 編集する ー</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <i class="fa-solid fa-camera"></i>
      <%= f.file_field :image %>
    </div>

    <div class="field">
      <i class="fa-solid fa-user"></i>
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "input-form", placeholder: "ユーザー名" %>
    </div>

    <div class="field">
      <i class="fa-solid fa-envelope"></i>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-form", placeholder: "メールアドレス" %>
    </div>

    <div class="field">
      <i class="fa-solid fa-lock"></i>
      <%= f.password_field :password, autocomplete: "new-password", class: "input-form", placeholder: "新しいパスワード(６文字以上)" %>
    </div>

    <div class="field">
      <i class="fa-solid fa-lock"></i>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-form", placeholder: "確認用パスワード" %>
    </div>

    <div class="actions">
      <%= f.submit "更新する" %>
      <%= link_to "キャンセル", :back, class:'link-button' %>
    </div>
  <% end %>

  <%= button_to registration_path(resource_name), class: "trash-field", data: { confirm: "本当に削除しますか？", turbo_confirm: "本当に削除しますか？" }, method: :delete  do %>
    <i class="fa-solid fa-trash"></i>アカウントを削除
  <% end %>
</div>
