<div class='devise-form'>
  <h2 class='devise-title'>ー 新規アカウント作成 ー</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <i class="fa-solid fa-user"></i>
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "input-form", placeholder: "ユーザー名" %>
    </div>

    <div class="field">
      <i class="fa-solid fa-envelope"></i>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-form", placeholder: "メールアドレス" %>
    </div>

    <div class="field">
      <i class="fa-solid fa-key"></i>
      <%= f.password_field :password, autocomplete: "new-password", class: "input-form", placeholder: "パスワード" %>
    </div>

    <div class="field">
      <i class="fa-solid fa-lock"></i>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-form", placeholder: "確認用パスワード" %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録" %>
      <%= button_to "ログインはこちら", new_user_session_path %>
    </div>
  <% end %>
</div>
