<h2 class="title">ー 自分の投稿一覧 ー</h2>
<div class="index">
  <% @protect.each do |p| %>
    <% provide(:title, "#{p.user.username} の 保護犬一覧") %>
    <div class="amble-index">
      <div class="amble-index-image">
          <% if p.image.attached? %>
            <%= image_tag p.image, :size => '150x150' %>
          <% else %>
            <%= image_tag("default_dog.png", :size => "150x150") %>
          <% end %>
      </div>

      <div class="amble-show">
        投稿日：</br>
        <%= l p.created_at %></br>
        投稿者：
        <%= p.user.username %></br>
        <%= link_to "【詳細を見る】", protect_path(p) %>
      </div>

      <table class="amble-index-table">
        <tr>
          <th>名前：</th>
          <td><%= p.name %></td>
        </tr>
        <tr>
          <th>保護日時：</th>
          <td><%= l p.date %><%= p.time %></td>
        </tr>
        <tr>
          <th>保護場所：</th>
          <td><%= p.prefecture %><%= p.municipalities %><%= p.area %></td>
        </tr>
        <tr>
          <th>保護状況：</th>
          <td style="height: 150px;"><%= p.situation %></td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
