<% provide(:title, "#{@protect.name} の詳細") %>
<% @protect.each do |p| %>
  <div class="board-box">
    <%= image_tag '保護犬.png', class: 'board-image' %>
    <div class="board-image-tag">
      <% if p.image.attached? %>
        <%= image_tag p.image, :size => '150x100' %>
      <% else %>
        <%= image_tag("default_dog.png", :size => "150x100") %>
      <% end %>
    </div>

    <div class="board-name">
      <% if p.name.present? %>
        <%= p.name %>
      <% else %>
        不明
      <% end %>

      <% if p.gender == "male" %>
        <i class="fa-solid fa-mars"></i>
      <% elsif p.gender == "famale" %>
        <i class="fa-solid fa-venus"></i>
      <% else %>
        <i class="fa-solid fa-genderless"></i>
      <% end %>
    </div>

    <div class="board-user">
      <% if p.user_id == current_user.id %>
        <i class="fa-solid fa-pen"><%= link_to "編集する", edit_protect_path(p) %></i>
        <%= button_to protect_path(p), method: :delete, class: "board-btn" do %>
          <i class="fa-solid fa-trash">投稿を削除</i>
        <% end %>
        <%= button_tag id: "delete-btn", class: "board-btn", data: { turbo: false } do %>
          <i class="fa-solid fa-check">解決しました</i>
        <% end %>
        <div id="confirmation-modal" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <h2>解決されましたか？</h2>
            </div>
            <div class="modal-body">
              個人情報保護法に基づき、この情報は削除されます。</br>
              <button id="confirm-yes"><%= button_to 'はい', protect_path(p), method: :delete, class: "confirm-yes" %></button>
              <button id="confirm-no">キャンセル</button>
            </div>
          </div>
        </div>
      <% else %>
        <%= link_to "#{p.user.username}様", user_path(p.user.id) %></br>
        <i class="fa-solid fa-user"><%= link_to "プロフィールを見る", user_path(p.user.id) %></i>
        <% if @is_room == true %>
          <%= link_to room_path(@room_id), class:'board-btn' do %>
            <i class="fa-solid fa-envelope-open"></i>連絡をする
          <% end %>
        <% else %>
          <%= form_for @room, data: { turbo: false } do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @protect_user.user.id %>
            <% end %>
            <button type="submit" class="board-btn"><i class="fa-regular fa-envelope"></i>連絡をする</button>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <ul class="board-situation">
      <li><%= l p.date %><%= p.time %></li>
      <li><%= p.prefecture %><%= p.municipalities %><%= p.area %></li>
      <li><%= p.notification %></li>
      <li><%= p.situation %></li>
    </ul>

    <ul class="board-features">
      <li><%= p.age %></li>
      <li>
        <% if p.tag == true %>
          確認済み
        <% else %>
          なし
        <% end %>
      </li>
      <li><%= p.breed %></li>
      <li>
        <% if p.chip == true %>
          確認済み
        <% else %>
          なし
        <% end %>
      </li>
      <li><%= p.color %></li>
      <li><%= p.features %></li>
      <li>
        <% if p.size == "large" %>
          大型犬
        <% elsif p.size == "medium" %>
          中型犬
        <% else %>
          小型犬
        <% end %>
      </li>
    </ul>
  </div>
<% end %>

<% content_for :js do %>
  <%= javascript_import_module_tag "protects/modal" %>
<% end %>
