<div class="account-form">
  <h2 class="devise-title">ー 編集する ー</h2>

  <%= form_with url: users_update_path, local:true, data: { turbo: false } do |f| %>
    <% if @user.errors.any? %>
    <% end %>

    <div class="field-area">
      <div class="field">
        <i class="fa-solid fa-camera"></i>
        <%= f.file_field :image %>
      </div>

      <div class="field">
        <i class="fa-solid fa-user"></i>
        <%= f.text_field :username, class: "input-form", placeholder: "ユーザー名", value: @user.username %>
        <% if @user.errors.include?(:username) %>
          <p class="error-message"><%= @user.errors.full_messages_for(:username).first %>
        <% end %>
      </div>

      <div class="field">
        <i class="fa-solid fa-envelope"></i>
        <%= f.email_field :email, class: "input-form", placeholder: "メールアドレス", value: @user.email %>
        <% if @user.errors.include?(:email) %>
          <p class="error-message"><%= @user.errors.full_messages_for(:email).first %>
        <% end %>
      </div>

      <div class="actions">
        <%= f.submit "更新する" %>
        <%= link_to "キャンセル", user_path(@user), class:'link-button' %>
      </div>
    </div>
  <% end %>
</div>
