<% provide(:title, "ログイン") %>
<div class='devise-form'>
  <h2 class='devise-title'>ー ログイン ー</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), local:true, data: { turbo: false }) do |f| %>

    <div class="field">
      <i class="fa-solid fa-envelope"></i>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-form", placeholder: "メールアドレス" %>
    </div>

    <div class="field">
      <i class="fa-solid fa-key"></i>
      <%= f.password_field :password, id: "password", autocomplete: "new-password", class: "input-password", placeholder: "パスワード" %>
      <i id="eye" class="fa-solid fa-eye-slash"></i>
    </div>

    <div class="field">
      <%= f.check_box :remember_me, class:"check-box" %>
      <%= f.label :ログイン状態を保持 %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン" %>
      <%= link_to "新規登録はこちら", new_user_registration_path, class:'link-button' %>
    </div>
  <% end %>
</div>

<% content_for :js do %>
  <%= javascript_import_module_tag "passwords/session" %>
<% end %>
